.navbar-toggler-icon{
    font-size: 0.8em;
    border: none;
}


.navbar-toggler{
    border: none;
}

html {height:100%;}
body {height:100%; margin:0; font-family:'Poppins';box-sizing: border-box; background-color: #FFFAFA; }
ul , li {
    list-style: none;

}